/* Message Dialog */

/* @import "Arthur.rasi" */

/* @import "rounded-nord-dark.rasi" */

@import "simple-tokyonight.rasi"

/*
window {
    width:      	400px;
    padding:    	10px;
    border:		2px;
    border-radius:      14px;
    location:           center;
}
*/